.artists {
    /* margin-top: 250px; */
    object-fit: cover;
    max-width: 30vw;
    max-height: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    color: black;
}

.artists:hover {
    transform: scale(1.02);
    opacity: .9;
}