.categories-genres-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 300px;
    margin-left: 400px;
}

.disco-div {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 200px;
    margin-left: 400px;
    object-fit: cover;
}

.afro-div {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 200px;
    margin-left: 400px;
    object-fit: cover;
}

.deep-div {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 200px;
    margin-left: 400px;
    object-fit: cover;
}

.card-image-genres {
    object-fit: cover;
    max-width: 30vw;
    max-height: 30vw;
}

.card-genres {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    color: black;
}

.card-genres:hover {
    transform: scale(1.02);
    opacity: .9;
}
