.categories-cities-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 300px;
    margin-left: 400px;
}

.nyc-div {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 450px;
    margin-left: 400px;
    object-fit: cover;
}

.ldn-div {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 600px;
    margin-left: 350px;
    object-fit: cover;
}

.ber-div {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 600px;
    margin-left: 400px;
    object-fit: cover;
}

.card-image-cities {
    object-fit: cover;
    max-width: 30vw;
    max-height: 30vw;
}

.card-cities {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    color: black;
}

.card-cities:hover {
    transform: scale(1.02);
    opacity: .9;
}
